{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="EthPhish - Ethical Phishing and Quishing Testing Platform">
    <meta name="author" content="Jordan Wright (http://github.com/jordan-wright)">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>{{ .Title }} - EthPhish</title>

    <link href="/css/dist/gophish.css" rel="stylesheet" type="text/css">
    <link href="/css/ethphish-dark-theme.css" rel="stylesheet" type="text/css">
    <link href="/css/ethphish-light-theme.css" rel="stylesheet" type="text/css">
    <script>
        // Apply selected theme immediately to prevent flash of the wrong theme
        (function() {
            // Migrate old boolean dark theme setting to new theme system
            var oldDarkTheme = localStorage.getItem('gophish.use_dark_theme');
            var currentTheme = localStorage.getItem('gophish.theme');

            if (!currentTheme && oldDarkTheme !== null) {
                currentTheme = JSON.parse(oldDarkTheme) ? 'ethphish-dark' : 'ethphish-light';
                localStorage.setItem('gophish.theme', currentTheme);
                localStorage.removeItem('gophish.use_dark_theme');
            } else if (!currentTheme) {
                // Default theme for new users
                currentTheme = 'ethphish-light';
            }

            // Any unrecognized (e.g. legacy) stored value falls back to light.
            if (currentTheme === 'ethphish-dark') {
                document.documentElement.className += ' ethphish-dark-theme';
            } else {
                document.documentElement.className += ' ethphish-light-theme';
            }
        })();
    </script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>
    <script>
        {{if .User}}
    var user = {
        api_key : {{ .User.ApiKey }},
        username : {{ .User.Username }}
    }
    {{end}}
    {{if .Token}}
        var csrf_token = {{.Token}}
    {{end}}
    </script>
</head>

<body>
    <script>
        // Apply selected theme to body immediately to prevent flash
        (function() {
            var currentTheme = localStorage.getItem('gophish.theme') || 'ethphish-light';

            if (currentTheme === 'ethphish-dark') {
                document.body.classList.add('ethphish-dark-theme');
            } else {
                document.body.classList.add('ethphish-light-theme');
            }
        })();
    </script>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="navbar-logo" src="/images/ethphish-logo.png" />
                <a class="navbar-brand" href="/">&nbsp;&nbsp;EthPhish</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {{if .User}}
                        <div class="btn-group" id="navbar-dropdown">
                            <a class="btn btn-primary" href="/settings"><i class="fa fa-user"></i> {{.User.Username}}</a>
                            <a class="btn btn-primary dropdown-toggle" href="/logout">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </div>
                        {{else}}
                        <a href="/login">
                            <button type="button" class="btn btn-primary">Login</button>
                        </a>
                        {{end}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{template "nav" .}}
    {{template "body" .}}
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/dist/vendor.min.js"></script>
    <script src="/js/dist/app/gophish.min.js"></script>
    {{template "scripts" .}}
</body>

</html>
{{ end }}
