{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="eth-hero">
        <div class="eth-hero-text">
            <span class="eth-hero-eyebrow"><i class="fa fa-shield"></i> Security Awareness Operations</span>
            <h1 class="eth-hero-title">Welcome back</h1>
            <p class="eth-hero-subtitle">
                EthPhish is your control center for running ethical phishing and quishing simulations,
                measuring real employee risk, and turning results into targeted awareness training.
            </p>
        </div>
        <div class="eth-hero-cta">
            <a href="/campaigns">
                <button type="button" class="btn btn-lg eth-btn-launch"><i class="fa fa-rocket"></i>&nbsp; Launch a Campaign</button>
            </a>
        </div>
    </div>
    <div id="loading">
        <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
    {{template "flashes" .Flashes}}
    <div id="emptyMessage" style="display:none;">
        <div class="alert alert-info">
            No campaigns created yet. Let's create one!
        </div>
    </div>
    <div id="dashboard" style="display:none;">
        <div class="row">
            <div id="overview_chart" style="height:200px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
        </div>
        <div class="row">
            <div id="sent_chart" style="height:200px;" class="col-lg-3 col-md-3"></div>
            <div id="sms_sent_chart" style="height:200px;" class="col-lg-3 col-md-3"></div>
            <div id="opened_chart" style="height:200px;" class="col-lg-3 col-md-3"></div>
            <div id="clicked_chart" style="height:200px;" class="col-lg-3 col-md-3"></div>
        </div>
        <div class="row">
            <div id="submitted_data_chart" style="height:200px;" class="col-lg-4 col-md-4"></div>
            <div id="replied_chart" style="height:200px;" class="col-lg-4 col-md-4"></div>
            <div id="email_reported_chart" style="height:200px;" class="col-lg-4 col-md-4"></div>
        </div>
        <div class="row">
            <h2>Recent Campaigns</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="/campaigns">
                    <button type="button" class="btn btn-primary">View All</button>
                </a>
            </div>
            <div class="col-md-6 text-right">
                <div class="btn-group" role="group" aria-label="Campaign Type Filter">
                    <button type="button" class="btn btn-default active" id="filter-all">All Campaigns</button>
                    <button type="button" class="btn btn-default" id="filter-email">Email Campaigns</button>
                    <button type="button" class="btn btn-default" id="filter-sms">SMS Campaigns</button>
                    <button type="button" class="btn btn-default" id="filter-generic">Generic Campaigns</button>
                </div>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <table id="campaignTable" class="table">
                <thead>
                    <tr>
                        <th class="col-md-2 col-sm-2">Name</th>
                        <th class="col-md-2 col-sm-2">Created Date</th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-envelope-o"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-envelope-open-o"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-mouse-pointer"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-exclamation-circle"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-reply"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">
                            <i class="fa fa-bullhorn"></i>
                        </th>
                        <th class="col-md-1 col-sm-1">Status</th>
                        <th class="col-md-2 col-sm-2 no-sort"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{{end}} {{define "scripts"}}
<script src="/js/dist/app/dashboard.min.js"></script>
{{end}}
