{{define "nav"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/">Dashboard</a>
                </li>
                <li>
                    <a href="/campaigns">Campaigns</a>
                </li>
                <li>
                    <a href="/campaign_sets">Campaign Sets</a>
                </li>
                <li>
                    <a href="/groups">Users &amp; Groups</a>
                </li>
                <li>
                    <a href="/contracts">Contracts</a>
                </li>
                <li>
                    <a href="/approvals">Approval Center</a>
                </li>
                <li>
                    <a href="/trainings">Trainings</a>
                </li>
                <li> <a href="/templates">Templates</a>
                </li>
                <li>
                    <a href="/landing_pages">Landing Pages</a>
                </li>
                <li>
                    <a href="/sending_profiles">Sending Profiles</a>
                </li>
                <li>
                    <a href="/qr_code_generator">QR Code Generator</span></a>
                </li>
                <li>
                    <a href="/reports">Reports</a>
                </li>
                <li>
                    <a href="/non_campaign_reports">IMAP Monitor</a>
                </li>
                <li>
                    <a href="/settings">Settings</span></a>
                </li>
                {{if .ModifySystem}}
                <li>
                    <a href="/users">User Management<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                <li>
                    <a href="/webhooks">Webhooks<span class="nav-badge badge pull-right">Admin</span></a>
                </li>
                {{end}}
                <li>
                    <hr>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/user-guide/" target="_blank">User Guide</a>
                </li>
                <li>
                    <a href="/api_documentation">Documentation</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}
